swagger: '2.0'
schemes:
  - https
host: apigw.eu-preprod.doddle.tech
basePath: /v3
info:
  title: Stores
  version: v3
externalDocs:
  url: 'https://apigw.eu-preprod.doddle.tech'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: application
    tokenUrl: https://apigw.eu-preprod.doddle.tech/v1/oauth/token
    scopes:
      stores:read: Grants read access
      admin: Grants read and write access to administrative information
paths:
  '/stores/externalId/{externalId}':
    get:
      description: |
        Get a store by external store Id
      parameters:
        - description: The external store id
          in: path
          name: externalId
          required: true
          type: string
        - description: The Company ID
          in: query
          name: companyId
          required: true
          type: string  
        - default: 20
          description: The maximum number of items to return
          in: query
          maximum: 50
          minimum: 0
          name: limit
          required: false
          type: integer
        - default: 0
          description: The index of the first item to return
          in: query
          name: offset
          required: false
          type: integer
        - description: It is used to set specified media type.
          in: header
          name: Accept
          type: string
      security:    
        - OAuth2: [stores:read]  
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
  '/stores/company/{companyId}/feed':
    get:
      description: |
        Get stores feed for Company - FOR RETAILERS
      parameters:
        - description: The Company ID
          in: path
          name: companyId
          required: true
          type: string
        - default: 20
          description: The maximum number of items to return
          in: query
          maximum: 50
          minimum: 0
          name: limit
          required: false
          type: integer
        - default: 0
          description: The index of the first item to return
          in: query
          name: offset
          required: false
          type: integer
        - description: It is used to set specified media type.
          in: header
          name: Accept
          type: string
      security:    
        - OAuth2: [stores:read]     
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
