swagger: '2.0'
schemes:
  - https
host: proper-sad-gw.aws-euw2.cloud-ara.tyk.io
basePath: /v3
info:
  title: Stores
  version: v3
externalDocs:
  url: 'https://proper-sad-gw.aws-euw2.cloud-ara.tyk.io'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: query
    name: api_key
  AuthToken:
    type: apiKey
    in: header
    name: Authorization
security:
  - ApiKeyAuth: []
  - AuthToken: []
paths:
  '/stores/company/{companyId}/feed':
    get:
      description: |
        Get stores feed for Company - FOR RETAILERS
      parameters:
        - description: The Company ID
          in: path
          name: companyId
          required: true
          type: string
        - default: 20
          description: The maximum number of items to return
          in: query
          maximum: 50
          minimum: 0
          name: limit
          required: false
          type: integer
        - default: 0
          description: The index of the first item to return
          in: query
          name: offset
          required: false
          type: integer
        - description: It is used to set specified media type.
          in: header
          name: Accept
          type: string    
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded.
  '/stores/latitude/{latitude}/longitude/{longitude}':
    get:
      description: |
        Get geo query stores - search by location
      parameters:
        - description: The Lattitude of the location you want to search
          in: path
          name: lattitude
          required: true
          type: string
       -  description: The Longitude of the location you want to search
          in: path
          name: longitude
          required: true
          type: string   
        - description: The Company ID
          in: query
          name: companyId
          required: true
          type: string
        - default: 20
          description: The maximum number of items to return
          in: query
          maximum: 50
          minimum: 0
          name: limit
          required: false
          type: integer
        - default: 0
          description: The index of the first item to return
          in: query
          name: distance
          required: false
          type: integer
        - description: It is used to set specified unit measurements e.g. KM.
          in: query
          name: unit
          required: false
          type: string
        - description: It is used to set specified location types. E.g. POSTOFFICE, STORE, LOCKER
          in: query
          name: locationTypes
          required: false
          type: string
        - description: It is used to set the specified service - COLLECTIONS or RETURNS.
          in: query
          name: services
          required: false
          type: string
        - description: It is used to set the specified status - e.g. TRADING only shows open locations.
          in: query
          name: services
          required: false
          type: string
        - description: It is used to set specified media type.
          in: header
          name: Accept
          type: string    
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded.
