swagger: '2.0'
schemes:
  - https
host: proper-sad-gw.aws-euw2.cloud-ara.tyk.io
basePath: /v3
info:
  title: Stores
  version: v3
externalDocs:
  url: 'https://proper-sad-gw.aws-euw2.cloud-ara.tyk.io'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: query
    name: api_key
security:
  - ApiKeyAuth: []
paths:
  '/stores/externalId/{externalId}':
    get:
      description: |
        Get a store by external store Id
      parameters:
        - description: Bearer Token from Authentication API
          in: header
          name: Authorization
          required: true
          type: string
        - description: The external store id
          in: path
          name: externalId
          required: true
          type: string
        - description: The Company ID
          in: query
          name: companyId
          required: true
          type: string  
        - default: 20
          description: The maximum number of items to return
          in: query
          maximum: 50
          minimum: 0
          name: limit
          required: false
          type: integer
        - default: 0
          description: The index of the first item to return
          in: query
          name: offset
          required: false
          type: integer
        - description: It is used to set specified media type.
          in: header
          name: Accept
          type: string 
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded.
  '/stores/company/{companyId}/feed':
    get:
      description: |
        Get stores feed for Company - FOR RETAILERS
      parameters:
        - description: The Company ID
          in: path
          name: companyId
          required: true
          type: string
        - default: 20
          description: The maximum number of items to return
          in: query
          maximum: 50
          minimum: 0
          name: limit
          required: false
          type: integer
        - default: 0
          description: The index of the first item to return
          in: query
          name: offset
          required: false
          type: integer
        - description: It is used to set specified media type.
          in: header
          name: Accept
          type: string    
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded.
